.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: var(--token-ENZjHcnmOJYy13);
  position: relative;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .root {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__y10O9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__y10O9 {
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__afbay {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h4__wjMsx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__leYjS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h4___7Mzws {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__msRBe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__xmdyx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
}
.freeBox__xmdyx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__xmdyx > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__xmdyx > :global(.__wab_flex-container) > *,
  .freeBox__xmdyx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xmdyx > :global(.__wab_flex-container) > picture > img,
  .freeBox__xmdyx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__fDeOd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__vZfxm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__vZfxm > picture > img {
  object-fit: cover;
}
.img__vZfxm > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__p29A8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__p29A8 {
    display: flex;
    flex-direction: row;
    flex-row-gap: 0px;
    padding: 0px;
  }
}
.img__v9RAk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
}
.img__v9RAk > picture > img {
  object-fit: cover;
}
.img__v9RAk > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__pRB9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
}
.img__pRB9 > picture > img {
  object-fit: cover;
}
.img__pRB9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ll5Zg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
}
.img__ll5Zg > picture > img {
  object-fit: cover;
}
.img__ll5Zg > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__twU0V {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
}
.img__twU0V > picture > img {
  object-fit: cover;
}
.img__twU0V > .__wab_img-spacer > img {
  object-fit: cover;
}
