.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__gIeAp {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gIeAp > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__gIeAp > :global(.__wab_flex-container) > *,
.freeBox__gIeAp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gIeAp > :global(.__wab_flex-container) > picture > img,
.freeBox__gIeAp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.structureButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__tYv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__eZ4Nm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.furnishButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___6Z1Uj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ofXvx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__s1Sgp {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__s1Sgp > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__s1Sgp > :global(.__wab_flex-container) > *,
.freeBox__s1Sgp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s1Sgp > :global(.__wab_flex-container) > picture > img,
.freeBox__s1Sgp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.rcButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ad0Hx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bfUOu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.srcButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 0px;
}
.svg__jQ8Pk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__pkBq5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.ssButon:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mGni8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___3VbgP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__l9Vh2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__l9Vh2 {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.text__pVw6L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.areaInputMin:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nyFz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___6Jg4Z {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__csPd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__csPd {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.text__kaj0E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.areaInputSecond:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zuj9O {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__rnZSh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__aUoTx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__aUoTx {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.text___0MeZy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.areaInputThird:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__dpPb2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___7T9T {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__yaXz5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__yaXz5 {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.text__j4P0T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.areaInputFourth:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__anlWo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ouqvj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__zHll6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__zHll6 {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.text__j7KRg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.areaInputMax:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nGeid {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__gapoN {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__v9Pxl {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__v9Pxl > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__v9Pxl > :global(.__wab_flex-container) > *,
.freeBox__v9Pxl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v9Pxl > :global(.__wab_flex-container) > picture > img,
.freeBox__v9Pxl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.calculateButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___3VwJ7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gymxk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
