.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: var(--token-ENZjHcnmOJYy13);
  position: relative;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .root {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.rootrevers {
  flex-direction: row-reverse;
}
.rootrevers > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  align-items: stretch;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootrevers > :global(.__wab_flex-container) > *,
.rootrevers > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootrevers > :global(.__wab_flex-container) > picture > img,
.rootrevers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .rootrevers {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .rootrevers > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .rootrevers > :global(.__wab_flex-container) > *,
  .rootrevers > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .rootrevers > :global(.__wab_flex-container) > picture > img,
  .rootrevers
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__doWvV {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__doWvV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__doWvV > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__doWvV > :global(.__wab_flex-container) > *,
  .freeBox__doWvV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__doWvV > :global(.__wab_flex-container) > picture > img,
  .freeBox__doWvV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__r8WDs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__am6Dw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__am6Dw > picture > img {
  object-fit: cover;
}
.img__am6Dw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__vWeSq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__vWeSq {
    display: flex;
    flex-direction: row;
    flex-row-gap: 0px;
    padding: 0px;
  }
}
.img__jihxC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
}
.img__jihxC > picture > img {
  object-fit: cover;
}
.img__jihxC > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__iD1Du {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
}
.img__iD1Du > picture > img {
  object-fit: cover;
}
.img__iD1Du > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___3Dvs1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
}
.img___3Dvs1 > picture > img {
  object-fit: cover;
}
.img___3Dvs1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__ejBlV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
}
.img__ejBlV > picture > img {
  object-fit: cover;
}
.img__ejBlV > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__dowBa {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__dowBa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__dowBa > :global(.__wab_flex-container) {
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__dowBa > :global(.__wab_flex-container) > *,
  .freeBox__dowBa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dowBa > :global(.__wab_flex-container) > picture > img,
  .freeBox__dowBa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBoxrevers__dowBAh81JN {
  flex-direction: column;
  height: auto;
}
.freeBoxrevers__dowBAh81JN > :global(.__wab_flex-container) {
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBoxrevers__dowBAh81JN > :global(.__wab_flex-container) > *,
.freeBoxrevers__dowBAh81JN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxrevers__dowBAh81JN > :global(.__wab_flex-container) > picture > img,
.freeBoxrevers__dowBAh81JN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__knD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h4__xJerT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__utyex {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h4__uyXl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__zmDtG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
