.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.aboutHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: #ffffff80;
  height: auto;
  padding: 0px 0px 64px;
}
.aboutHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.aboutHeroSection > :global(.__wab_flex-container) > *,
.aboutHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.aboutHeroSection > :global(.__wab_flex-container) > picture > img,
.aboutHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.reveal__nlFzz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  min-width: 0;
}
.aboutSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: var(--token-MZ-YfrFL4dQS-j);
  height: auto;
  padding: 0px 32px 64px;
}
.aboutSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.aboutSection > :global(.__wab_flex-container) > *,
.aboutSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.aboutSection > :global(.__wab_flex-container) > picture > img,
.aboutSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.reveal__jYTk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-ENZjHcnmOJYy13);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  background: #ffffff;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 20px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 20px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 15px;
  }
}
.column__ojrKk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  min-width: 0;
}
.column__u7Ak {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 769px) {
  .column__u7Ak {
    padding: 0px;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
