.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: #ffffff80;
  height: auto;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.h2__gYpmx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  min-width: 0;
}
.aboutSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: var(--token-MZ-YfrFL4dQS-j);
  height: auto;
  padding: 0px 32px 64px;
}
.aboutSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.aboutSection > :global(.__wab_flex-container) > *,
.aboutSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.aboutSection > :global(.__wab_flex-container) > picture > img,
.aboutSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__wjmY4 {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-ENZjHcnmOJYy13);
  width: 100%;
  height: 328px;
  flex-shrink: 1;
  align-self: auto;
  flex-grow: 0;
  min-width: 0;
}
.columns__wjmY4 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.columns__wjmY4 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__wjmY4 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__wjmY4 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__wjmY4 > :global(.__wab_flex-container) > *,
.columns__wjmY4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__wjmY4 > :global(.__wab_flex-container) > picture > img,
.columns__wjmY4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__wjmY4 {
    width: 100%;
    height: 100%;
    flex-direction: row;
    max-width: var(--token-ENZjHcnmOJYy13);
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__wjmY4 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    min-height: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__wjmY4 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__wjmY4 > :global(.__wab_flex-container) > *,
  .columns__wjmY4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__wjmY4 > :global(.__wab_flex-container) > picture > img,
  .columns__wjmY4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.column__saUls {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#0000004d, #0000004d),
    url("/plasmic/laziness_demo/images/tower.webp") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .column__saUls {
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
.freeBox__r8KDg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__r8KDg {
    height: 100%;
    min-height: 218px;
    justify-content: center;
    align-items: center;
    padding: 24px;
  }
}
.h2__aVjLi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-MZ-YfrFL4dQS-j);
  min-width: 0;
}
.text__s0UbG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-MZ-YfrFL4dQS-j);
  min-width: 0;
}
.column__fTnmj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#0000004d, #0000004d),
    url("/plasmic/laziness_demo/images/design.webp") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .column__fTnmj {
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
.freeBox___0CJgD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox___0CJgD {
    height: 100%;
    justify-content: center;
    align-items: center;
    min-height: 218px;
    padding: 24px;
  }
}
.h2___6MvU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-MZ-YfrFL4dQS-j);
  min-width: 0;
}
.text__xirU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-MZ-YfrFL4dQS-j);
  min-width: 0;
}
.column___8SfbJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#0000004d, #0000004d),
    url("/plasmic/laziness_demo/images/meeting1.webp") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .column___8SfbJ {
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
.freeBox__moHkB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__moHkB {
    height: 100%;
    min-height: 218px;
    justify-content: center;
    align-items: center;
    padding: 24px;
  }
}
.h2__ebXgw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-MZ-YfrFL4dQS-j);
  min-width: 0;
}
.text__slJ9Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-MZ-YfrFL4dQS-j);
  min-width: 0;
}
.columns___6W7Q6 {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-ENZjHcnmOJYy13);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___6W7Q6 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.columns___6W7Q6 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 20px) * 6 / 12);
}
.columns___6W7Q6 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 20px) * 6 / 12);
}
.columns___6W7Q6 > :global(.__wab_flex-container) > *,
.columns___6W7Q6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___6W7Q6 > :global(.__wab_flex-container) > picture > img,
.columns___6W7Q6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns___6W7Q6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns___6W7Q6 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns___6W7Q6 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns___6W7Q6 > :global(.__wab_flex-container) > *,
  .columns___6W7Q6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___6W7Q6 > :global(.__wab_flex-container) > picture > img,
  .columns___6W7Q6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 15px;
  }
}
.column__nmrlP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 769px) {
  .column__nmrlP {
    align-self: center;
    padding: 0px;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__rzfWc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 769px) {
  .column__rzfWc {
    align-self: center;
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__b7DUy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  margin-top: 0px;
  padding-top: 20px;
  min-width: 0;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
