.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("/plasmic/landing_page_starter/images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__xhH6I {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-ENZjHcnmOJYy13);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__xhH6I > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__xhH6I > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__xhH6I > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__xhH6I > :global(.__wab_flex-container) > *,
.columns__xhH6I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__xhH6I > :global(.__wab_flex-container) > picture > img,
.columns__xhH6I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__xhH6I {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__xhH6I > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__xhH6I > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__xhH6I > :global(.__wab_flex-container) > *,
  .columns__xhH6I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__xhH6I > :global(.__wab_flex-container) > picture > img,
  .columns__xhH6I
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__j4G6I {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__znFoi {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__znFoi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__znFoi > :global(.__wab_flex-container) > *,
.freeBox__znFoi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__znFoi > :global(.__wab_flex-container) > picture > img,
.freeBox__znFoi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__yp12 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__yp12 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yp12 > :global(.__wab_flex-container) > *,
.freeBox__yp12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yp12 > :global(.__wab_flex-container) > picture > img,
.freeBox__yp12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__aTvDe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__aYmF2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-12ClBXUaKhv8Bn);
  background: #ffffff;
  padding: 4px 8px;
}
.text__rNGd9 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-iaRqcCmsjQJpYX);
}
.text__yZbXw {
  font-size: 20px;
  color: var(--token-12ClBXUaKhv8Bn);
  line-height: 28px;
}
.freeBox__vPemY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__vPemY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__vPemY > :global(.__wab_flex-container) > *,
.freeBox__vPemY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vPemY > :global(.__wab_flex-container) > picture > img,
.freeBox__vPemY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__m3Ryt:global(.__wab_instance) {
  position: relative;
}
.svg__naKqX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___5L6Yh {
  height: auto;
}
.svg__oydG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__xL4VD:global(.__wab_instance) {
  position: relative;
}
.svg__oAJh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dOvKu {
  height: auto;
  font-weight: 400;
}
.svg__xzb6U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column___0Y6YH {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__tzW {
  flex-direction: column;
  max-width: var(--token-ENZjHcnmOJYy13);
  display: flex;
  height: auto;
}
.freeBox__tzW > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tzW > :global(.__wab_flex-container) > *,
.freeBox__tzW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tzW > :global(.__wab_flex-container) > picture > img,
.freeBox__tzW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__kl7O9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2___4F9Ft {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-iaRqcCmsjQJpYX);
  line-height: 1;
}
.text___39QgK {
  font-size: 20px;
  color: var(--token-12ClBXUaKhv8Bn);
  text-align: left;
  line-height: 28px;
}
.freeBox__i1O3J {
  flex-direction: column;
  max-width: var(--token-ENZjHcnmOJYy13);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__i1O3J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__i1O3J > :global(.__wab_flex-container) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
.freeBox__i1O3J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__i1O3J {
    max-width: var(--token-ENZjHcnmOJYy13);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
  .freeBox__i1O3J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__pmxbR {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__pmxbR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__pmxbR > :global(.__wab_flex-container) > *,
.freeBox__pmxbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pmxbR > :global(.__wab_flex-container) > picture > img,
.freeBox__pmxbR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__pmxbR {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__pmxbR > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__pmxbR > :global(.__wab_flex-container) > *,
  .freeBox__pmxbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pmxbR > :global(.__wab_flex-container) > picture > img,
  .freeBox__pmxbR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp___5IfCy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ynnWu {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__rxdGn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ybaCy {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__th9Md:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___00VOu {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__az7Ua:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9FrUm {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text___5UOvp {
  height: auto;
}
.freeBox__edOhx {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__edOhx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__edOhx > :global(.__wab_flex-container) > *,
.freeBox__edOhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__edOhx > :global(.__wab_flex-container) > picture > img,
.freeBox__edOhx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__edOhx {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__edOhx > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__edOhx > :global(.__wab_flex-container) > *,
  .freeBox__edOhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__edOhx > :global(.__wab_flex-container) > picture > img,
  .freeBox__edOhx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__t5Ua:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xDFwt {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__lZo62 {
  height: auto;
}
.valueProp___8ZJt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___3Re6B {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__dBfi9:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__t29Vu {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__xRMjO:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vUJas {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__dBZkO {
  flex-direction: row;
  max-width: var(--token-ENZjHcnmOJYy13);
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__dBZkO > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__dBZkO > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__dBZkO > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__dBZkO > :global(.__wab_flex-container) > *,
.columns__dBZkO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dBZkO > :global(.__wab_flex-container) > picture > img,
.columns__dBZkO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__dBZkO {
    max-width: var(--token-ENZjHcnmOJYy13);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__dBZkO > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__dBZkO > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__dBZkO > :global(.__wab_flex-container) > *,
  .columns__dBZkO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__dBZkO > :global(.__wab_flex-container) > picture > img,
  .columns__dBZkO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__rkkmr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__w06So {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__w06So > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__w06So > :global(.__wab_flex-container) > *,
.freeBox__w06So > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w06So > :global(.__wab_flex-container) > picture > img,
.freeBox__w06So
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__vTkbS {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-mrM-Su-PzGovMG);
}
.h2__q2Sth {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-kSeYtbT9PdtATr);
  line-height: 1;
}
.text__ycx2D {
  font-size: 20px;
  color: var(--token-CozwX72p6eFSBE);
  line-height: 28px;
  height: auto;
}
.button__eeqYi:global(.__wab_instance) {
  position: relative;
}
.svg__ecGzr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__rXqJ {
  color: var(--token-DJuvQ434u9j6-f);
}
.svg__s8Wxk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-DJuvQ434u9j6-f);
}
.column__s9Bpx {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__yD1Ef {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__aGxd:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 769px) {
  .listItem__aGxd:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__wLHO {
  color: var(--token-kSeYtbT9PdtATr);
}
.svg__zTy6P {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-mrM-Su-PzGovMG);
}
.listItem__pjg8:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___4Lmil {
  color: var(--token-kSeYtbT9PdtATr);
}
.svg__poba1 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-mrM-Su-PzGovMG);
}
.listItem__h30QK:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__jM8L {
  height: auto;
  color: var(--token-kSeYtbT9PdtATr);
}
.svg__a5WFf {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-mrM-Su-PzGovMG);
}
.listItem___6C3Pg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__e5FfK {
  height: auto;
  color: var(--token-kSeYtbT9PdtATr);
}
.svg__ffLzR {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-mrM-Su-PzGovMG);
}
.listItem___4Romd:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__rh4Ky {
  height: auto;
  color: var(--token-kSeYtbT9PdtATr);
}
.svg__immqa {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-mrM-Su-PzGovMG);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___5Igcl {
  flex-direction: column;
  max-width: var(--token-ENZjHcnmOJYy13);
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.freeBox___5Igcl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___5Igcl > :global(.__wab_flex-container) > *,
.freeBox___5Igcl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Igcl > :global(.__wab_flex-container) > picture > img,
.freeBox___5Igcl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox___5Igcl {
    max-width: var(--token-ENZjHcnmOJYy13);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox___5Igcl > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox___5Igcl > :global(.__wab_flex-container) > *,
  .freeBox___5Igcl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5Igcl > :global(.__wab_flex-container) > picture > img,
  .freeBox___5Igcl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox___2HekJ {
  flex-direction: column;
  display: flex;
}
.freeBox___2HekJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___2HekJ > :global(.__wab_flex-container) > *,
.freeBox___2HekJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2HekJ > :global(.__wab_flex-container) > picture > img,
.freeBox___2HekJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__upi3Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__cs9Of {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-kSeYtbT9PdtATr);
  line-height: 1;
}
.text__egV9T {
  font-size: 20px;
  color: var(--token-CozwX72p6eFSBE);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns__jSUkq {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__jSUkq > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
}
.columns__jSUkq > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__jSUkq > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__jSUkq > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__jSUkq {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__jSUkq > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__jSUkq > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__jSUkq > :global(.__wab_flex-container) > *,
  .columns__jSUkq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__jSUkq > :global(.__wab_flex-container) > picture > img,
  .columns__jSUkq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column___0PuMm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__mfuWu:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 769px) {
  .priceCard__mfuWu:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__dxJhJ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__r1Qd6 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___20IJ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uvt6 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__rHl0C {
  height: auto;
}
.column__tf9CZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__rYbF3:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__nWcib:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__trXjh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___65ZH:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__qh2Aj {
  height: auto;
}
.svg__km967 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mnSpf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9BxAk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__sEnZn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__ngKt {
  height: auto;
}
.svg__rv5Xl {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__dKcIl {
  height: auto;
}
.column__zoVjS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__jEiR:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 769px) {
  .priceCard__jEiR:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__j5QaF:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__v8L8O {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t80Kz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__y4O06 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___10X4W {
  height: auto;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__bJn96 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__bJn96 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bJn96 > :global(.__wab_flex-container) > *,
.freeBox__bJn96 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bJn96 > :global(.__wab_flex-container) > picture > img,
.freeBox__bJn96
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__bJn96 {
    position: relative;
  }
}
.text__jIdAn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__s8SRz {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-iaRqcCmsjQJpYX);
  line-height: 1;
  height: auto;
}
.svg__yekh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__k05Ni {
  height: auto;
  width: auto;
}
.svg___4Bd3S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__yIrmh {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__yIrmh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__yIrmh > :global(.__wab_flex-container) > *,
.freeBox__yIrmh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yIrmh > :global(.__wab_flex-container) > picture > img,
.freeBox__yIrmh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__yIrmh {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__yIrmh > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__yIrmh > :global(.__wab_flex-container) > *,
  .freeBox__yIrmh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yIrmh > :global(.__wab_flex-container) > picture > img,
  .freeBox__yIrmh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.text___8DCtk {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__nlIEr {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-iaRqcCmsjQJpYX);
  line-height: 1;
  height: auto;
}
.svg__baMJc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__aSe7H {
  height: auto;
  width: auto;
}
.svg___2KtNr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner__rYse1:global(.__wab_instance) {
  position: relative;
}
.text__gG2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__da8MN {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-iaRqcCmsjQJpYX);
  line-height: 1;
  height: auto;
}
.svg__rdAj6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__siGSl {
  height: auto;
  width: auto;
}
.svg__sUrm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__pnaX {
  flex-direction: row;
  max-width: var(--token-ENZjHcnmOJYy13);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__pnaX > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__pnaX > :global(.__wab_flex-container) > *,
.freeBox__pnaX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pnaX > :global(.__wab_flex-container) > picture > img,
.freeBox__pnaX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img__nh57A {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__nh57A > picture > img {
  object-fit: cover;
}
.img__nh57A > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__pHkJ {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__pHkJ > picture > img {
  object-fit: cover;
}
.img__pHkJ > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ong4E {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__ong4E > picture > img {
  object-fit: cover;
}
.img__ong4E > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__tS8ZG {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__tS8ZG > picture > img {
  object-fit: cover;
}
.img__tS8ZG > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__aNDhE {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__aNDhE > picture > img {
  object-fit: cover;
}
.img__aNDhE > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__jReDl {
  flex-direction: row;
  max-width: var(--token-ENZjHcnmOJYy13);
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__jReDl > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__jReDl > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__jReDl > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__jReDl > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__jReDl > :global(.__wab_flex-container) > *,
.columns__jReDl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__jReDl > :global(.__wab_flex-container) > picture > img,
.columns__jReDl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__jReDl {
    max-width: var(--token-ENZjHcnmOJYy13);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__jReDl > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__jReDl > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .columns__jReDl > :global(.__wab_flex-container) > *,
  .columns__jReDl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__jReDl > :global(.__wab_flex-container) > picture > img,
  .columns__jReDl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.column__m5IKw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__fyYy:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column___4Hbew {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__hajkz:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__kD1B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__qPoTs:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__l0Fmm {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__xCav5 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__xCav5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xCav5 > :global(.__wab_flex-container) > *,
.freeBox__xCav5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xCav5 > :global(.__wab_flex-container) > picture > img,
.freeBox__xCav5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___5Z7Lz {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-kSeYtbT9PdtATr);
}
.text__poaMx {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-kSeYtbT9PdtATr);
  line-height: 1;
}
.text__b4BxT {
  font-size: 20px;
  color: var(--token-CozwX72p6eFSBE);
  line-height: 28px;
}
.freeBox__fZxPv {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fZxPv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fZxPv > :global(.__wab_flex-container) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > picture > img,
.freeBox__fZxPv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__wWwU4:global(.__wab_instance) {
  position: relative;
}
.svg___3R7Uq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__cAuKw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__hEyV6:global(.__wab_instance) {
  position: relative;
}
.svg__xmRaz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__heFda {
  height: auto;
  font-weight: 400;
}
.svg__lKUsn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
