.root {
  flex-direction: row;
  box-shadow: 0px 10px 10px 0px #0000000d;
  display: flex;
  width: 100%;
  position: relative;
  flex-grow: 0;
  min-width: 0;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .root {
    padding: 12px 24px;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .rootshowModal {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .rootshowModal > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .rootshowModal > :global(.__wab_flex-container) > *,
  .rootshowModal > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .rootshowModal > :global(.__wab_flex-container) > picture > img,
  .rootshowModal
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__ifiW {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: var(--token-ENZjHcnmOJYy13);
  min-width: 0;
}
.freeBox__ifiW > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ifiW > :global(.__wab_flex-container) > *,
.freeBox__ifiW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ifiW > :global(.__wab_flex-container) > picture > img,
.freeBox__ifiW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__ifiW {
    flex-direction: column;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__ifiW > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__ifiW > :global(.__wab_flex-container) > *,
  .freeBox__ifiW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ifiW > :global(.__wab_flex-container) > picture > img,
  .freeBox__ifiW
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__scFmz {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__scFmz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__scFmz > :global(.__wab_flex-container) > *,
.freeBox__scFmz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__scFmz > :global(.__wab_flex-container) > picture > img,
.freeBox__scFmz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__scFmz > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__scFmz > :global(.__wab_flex-container) > *,
  .freeBox__scFmz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__scFmz > :global(.__wab_flex-container) > picture > img,
  .freeBox__scFmz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button__aUsln:global(.__wab_instance) {
  position: relative;
}
.svg__vnrs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__fxWZu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__r3GGj:global(.__wab_instance) {
  position: relative;
}
.svg__h8J0B {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___5ZUcr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__arOz5:global(.__wab_instance) {
  position: relative;
}
.svg__kQnm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__rh81T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logo__ioShS:global(.__wab_instance) {
  width: 240px;
  height: 80px;
  flex-shrink: 0;
}
.freeBox__wdExf {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__wdExf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__wdExf > :global(.__wab_flex-container) > *,
.freeBox__wdExf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wdExf > :global(.__wab_flex-container) > picture > img,
.freeBox__wdExf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__wdExf > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__wdExf > :global(.__wab_flex-container) > *,
  .freeBox__wdExf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wdExf > :global(.__wab_flex-container) > picture > img,
  .freeBox__wdExf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button__wyHno:global(.__wab_instance) {
  position: relative;
}
.svg__yYdN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__wua9F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__oDLgG:global(.__wab_instance) {
  position: relative;
}
.svg__feNla {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__eaPl6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___2G5Wu:global(.__wab_instance) {
  position: relative;
}
.svg__e7OvT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__beSsf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__axQ7P:global(.__wab_instance) {
  position: relative;
}
.svg__fJaC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__hiYok {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__pqNE {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  height: 58px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__pqNE {
    display: flex;
  }
}
.logo__uJm9Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 240px;
  height: 80px;
  flex-shrink: 0;
}
.hamburger {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 58px;
  height: 58px;
  flex-shrink: 0;
}
.freeBox__a2Fh4 {
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vh;
  height: 100vh;
  left: -20px;
  top: 74px;
  z-index: 10;
  background: var(--token-MZ-YfrFL4dQS-j);
  flex-shrink: 0;
  display: none;
  padding: 8px;
}
.freeBox__xA0Ge {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__ofDdT:global(.__wab_instance) {
  position: relative;
}
.svg__xKkFi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__lRpow {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__dFyOs:global(.__wab_instance) {
  position: relative;
}
.svg__wm27P {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__p4BAh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__p0M4F:global(.__wab_instance) {
  position: relative;
}
.svg__vHlDm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__mGm1I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___98EN:global(.__wab_instance) {
  position: relative;
}
.svg__odoUy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__sdR3Q {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__hoNCz:global(.__wab_instance) {
  position: relative;
}
.svg__wkzKy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___9HiI9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__oF1O2:global(.__wab_instance) {
  position: relative;
}
.svg__uiMk7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__rSzDo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__p82H:global(.__wab_instance) {
  position: relative;
}
.svg__ptadr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__lf1It {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.modal {
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 90px;
  z-index: 1;
  background: var(--token-MZ-YfrFL4dQS-j);
  transition-property: all;
  transition-duration: 6s;
  transition-timing-function: ease-in-out;
  transform: none;
  flex-shrink: 0;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 6s;
  padding: 8px 8px 32px;
}
.modal > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.modal > :global(.__wab_flex-container) > *,
.modal > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.modal > :global(.__wab_flex-container) > picture > img,
.modal > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .modalshowModal {
    display: flex;
  }
}
.button___1UgVl:global(.__wab_instance) {
  position: relative;
}
.svg__oPc9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__imBr7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__eXzmm:global(.__wab_instance) {
  position: relative;
}
.svg__qO9Iv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__jjXuv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__tp7Xx:global(.__wab_instance) {
  position: relative;
}
.svg__pqYwT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__zpk1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__cFzWn:global(.__wab_instance) {
  position: relative;
}
.svg__l3Bfv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___4N66A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__qaXs1:global(.__wab_instance) {
  position: relative;
}
.svg__asPUn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bsuEp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__assMv:global(.__wab_instance) {
  position: relative;
}
.svg__umutL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___7NjwE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__lIhF4:global(.__wab_instance) {
  position: relative;
}
.svg___5RLx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__htFqO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.closeIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.closeIcon > picture > img {
  object-fit: cover;
}
.closeIcon > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
