.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.contactHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: #ffffff80;
  padding: 0px 0px 64px;
}
.contactHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.contactHeroSection > :global(.__wab_flex-container) > *,
.contactHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contactHeroSection > :global(.__wab_flex-container) > picture > img,
.contactHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__do5Pz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: var(--token-ENZjHcnmOJYy13);
  min-width: 0;
  padding: 32px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__do5Pz {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.freeBox__q6OGw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.reveal__ovw6X:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.h2__uHv9U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.h2___3Ag4U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox___7OV3A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.reveal__xbvs8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.contactForm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__el6C8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__tKPdM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: var(--token-ENZjHcnmOJYy13);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__tKPdM {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.reveal__jVsJn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.googleMap:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
