.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox__nOTsm {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.freeBox__nOTsm > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__nOTsm > :global(.__wab_flex-container) > *,
.freeBox__nOTsm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nOTsm > :global(.__wab_flex-container) > picture > img,
.freeBox__nOTsm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__nOTsm {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__nOTsm > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 769px) {
  .freeBox__nOTsm > :global(.__wab_flex-container) > *,
  .freeBox__nOTsm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nOTsm > :global(.__wab_flex-container) > picture > img,
  .freeBox__nOTsm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__cy24T {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__cy24T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__cy24T > :global(.__wab_flex-container) > *,
.freeBox__cy24T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cy24T > :global(.__wab_flex-container) > picture > img,
.freeBox__cy24T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__caMX {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__caMX > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__caMX > :global(.__wab_flex-container) > *,
.freeBox__caMX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__caMX > :global(.__wab_flex-container) > picture > img,
.freeBox__caMX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__fkRFt {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fkRFt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fkRFt > :global(.__wab_flex-container) > *,
.freeBox__fkRFt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fkRFt > :global(.__wab_flex-container) > picture > img,
.freeBox__fkRFt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__satPy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-12ClBXUaKhv8Bn);
  flex-shrink: 0;
}
.svg___7WYWr {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-12ClBXUaKhv8Bn);
  flex-shrink: 0;
}
.svg__udkCn {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-12ClBXUaKhv8Bn);
  flex-shrink: 0;
}
.freeBox__ycjpp {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__ycjpp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ycjpp > :global(.__wab_flex-container) > *,
.freeBox__ycjpp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ycjpp > :global(.__wab_flex-container) > picture > img,
.freeBox__ycjpp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__cTiEp {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-12ClBXUaKhv8Bn);
  height: auto;
}
.button__ryCt:global(.__wab_instance) {
  position: relative;
}
.svg__kg01M {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__h9JMq {
  height: auto;
}
.svg__yVfw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__jFOoe:global(.__wab_instance) {
  position: relative;
}
.svg__gkAmJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__bvRa {
  height: auto;
}
.svg__gKo5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__jmjPa:global(.__wab_instance) {
  position: relative;
}
.svg__xhMu7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___4Wrx1 {
  height: auto;
}
.svg__xJogP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__bNizI:global(.__wab_instance) {
  position: relative;
}
.svg__tyAt8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__yPBwy {
  height: auto;
}
.svg__aHm3I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__mr80S {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__mr80S > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mr80S > :global(.__wab_flex-container) > *,
.freeBox__mr80S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mr80S > :global(.__wab_flex-container) > picture > img,
.freeBox__mr80S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___8Xjew {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-12ClBXUaKhv8Bn);
  height: auto;
}
.button__junuH:global(.__wab_instance) {
  position: relative;
}
.svg__fafxv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xcPxw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__n3Pqe:global(.__wab_instance) {
  position: relative;
}
.svg__zGk6Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ci3BW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___3Lc6F:global(.__wab_instance) {
  position: relative;
}
.svg__nMs32 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__cFwIb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__i9Cu8 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__i9Cu8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__i9Cu8 > :global(.__wab_flex-container) > *,
.freeBox__i9Cu8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i9Cu8 > :global(.__wab_flex-container) > picture > img,
.freeBox__i9Cu8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__ppuhR {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-12ClBXUaKhv8Bn);
  height: auto;
}
.button___8M04Q:global(.__wab_instance) {
  position: relative;
}
.svg__kLw1Q {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xg0Wh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__lwzrx:global(.__wab_instance) {
  position: relative;
}
.svg___6MCve {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___0RkJj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__lXnQj:global(.__wab_instance) {
  position: relative;
}
.svg__oqMzu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__vbI9K {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__sEiyd:global(.__wab_instance) {
  position: relative;
}
.svg__uL1V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__reAf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
