.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__ubWZ {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__ubWZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__ubWZ > :global(.__wab_flex-container) > *,
.freeBox__ubWZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ubWZ > :global(.__wab_flex-container) > picture > img,
.freeBox__ubWZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ubWZ {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___6PpUw {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text__wo3Zo {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__ixmyj:global(.__wab_instance) {
  position: relative;
}
.img__lSWs {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__lSWs > picture > img {
  object-fit: cover;
}
.img__lSWs > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__sxKj:global(.__wab_instance) {
  position: relative;
}
.img__m0Gzc {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__m0Gzc > picture > img {
  object-fit: cover;
}
.img__m0Gzc > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp___3YGkq:global(.__wab_instance) {
  position: relative;
}
.img___9E28Z {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img___9E28Z > picture > img {
  object-fit: cover;
}
.img___9E28Z > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp___48RBb:global(.__wab_instance) {
  position: relative;
}
.img__oKHop {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__oKHop > picture > img {
  object-fit: cover;
}
.img__oKHop > .__wab_img-spacer > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-sfD2lxnd916CTu);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___5IfUe {
  flex-direction: column;
  display: flex;
}
.freeBox___5IfUe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___5IfUe > :global(.__wab_flex-container) > *,
.freeBox___5IfUe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5IfUe > :global(.__wab_flex-container) > picture > img,
.freeBox___5IfUe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__thVu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__wqf49 {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__rTnGe {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__rTnGe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__rTnGe > :global(.__wab_flex-container) > *,
.freeBox__rTnGe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rTnGe > :global(.__wab_flex-container) > picture > img,
.freeBox__rTnGe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__bZBdY {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__bjPOi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__xb3Mp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MZ-YfrFL4dQS-j);
  width: 28px;
  height: 28px;
}
.text__sfH0J {
  padding-left: 0px;
}
.column__lfvB {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___8PlfF:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___0XHYg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MZ-YfrFL4dQS-j);
  width: 28px;
  height: 28px;
}
.text__gYgfv {
  padding-left: 0px;
}
.column__rBdfA {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__klj5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__jaDna {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MZ-YfrFL4dQS-j);
  width: 28px;
  height: 28px;
}
.text__dztO2 {
  padding-left: 0px;
}
.column__ohnYq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__zIM5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__m4Crw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MZ-YfrFL4dQS-j);
  width: 28px;
  height: 28px;
}
.text__qpbBc {
  padding-left: 0px;
}
.freeBox__nbxFb {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__nbxFb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__nbxFb > :global(.__wab_flex-container) > *,
.freeBox__nbxFb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nbxFb > :global(.__wab_flex-container) > picture > img,
.freeBox__nbxFb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nbxFb {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__u2T2M {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__u2T2M > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__u2T2M > :global(.__wab_flex-container) > *,
.freeBox__u2T2M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u2T2M > :global(.__wab_flex-container) > picture > img,
.freeBox__u2T2M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___7Q7N9 {
  flex-direction: column;
  display: flex;
}
.freeBox___7Q7N9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___7Q7N9 > :global(.__wab_flex-container) > *,
.freeBox___7Q7N9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Q7N9 > :global(.__wab_flex-container) > picture > img,
.freeBox___7Q7N9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__hVzgq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__k6Zz2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__k6Zz2 {
    text-align: center;
  }
}
.text__rdbcu {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__f9IlV {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__f9IlV > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__f9IlV > :global(.__wab_flex-container) > *,
.freeBox__f9IlV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f9IlV > :global(.__wab_flex-container) > picture > img,
.freeBox__f9IlV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f9IlV {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f9IlV > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f9IlV > :global(.__wab_flex-container) > *,
  .freeBox__f9IlV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__f9IlV > :global(.__wab_flex-container) > picture > img,
  .freeBox__f9IlV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__a82Aq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp___5JFdn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jFeMs {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bejX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yyi5D {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__vMApe {
  height: auto;
}
.priceCard__xGqpm:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__w1Pmg {
  color: var(--token-dtdSaZTrY3pRCl);
}
.valueProp__rzNMp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__opcNp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kkPa8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dgwcK {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ivj0E:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kkU9 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__pQwj {
  height: auto;
}
.priceCard__c5HJ:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__nHqeO {
  color: var(--token-X_MubEhfhEbXKh);
}
.valueProp__eUaEz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__orw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a7Kvl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ulaI {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__uAoRw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__z5Os {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yx9Lz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cGe1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__vk8YB {
  height: auto;
}
.priceCard__iuj78:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__erNb8 {
  color: var(--token-BDgDAcExDbGgek);
}
.valueProp__ewyIj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__f2AaH {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t8Bl5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yxjiF {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yyUz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___0Oshw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__g75Rw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__biiZu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___7Td2X {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
